.heading {
    background-color: transparent;
    color: Blue;
    text-align: center;
    
}
body {
    background-color: springgreen;
}
.room {
    margin-left: 700px;
    margin-bottom: 30px;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    background-color: yellow;
    color: darkgreen;
}